<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>915628422586-gkgir0e0j9m8uuvci1rsle0saoa6sdni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915628422586-gkgir0e0j9m8uuvci1rsle0saoa6sdni</string>
	<key>API_KEY</key>
	<string>AIzaSyD5kyk7uKuSYjNI_DzLql9rj34n87wO3PM</string>
	<key>GCM_SENDER_ID</key>
	<string>915628422586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aishaali.PetsMe</string>
	<key>PROJECT_ID</key>
	<string>listen-and-read</string>
	<key>STORAGE_BUCKET</key>
	<string>listen-and-read.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915628422586:ios:5b38149e123c7e0e5d9983</string>
</dict>
</plist>